version: '3'

services:
  sublime_mantis:
    image: sublimesec/mantis:1.31
    restart: unless-stopped
    container_name: sublime_mantis
    environment:
      POSTGRES_HOST: sublime_postgres
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
      REDIS_HOST: sublime_redis
      STRELKA_URL: sublime_strelka_frontend
      SCREENSHOT_SERVICE_ENDPOINT: http://sublime_screenshot_service:8100/capture
      SCREENSHOT_SERVICE_BUCKET: email-screenshots
      S3_ENDPOINT: http://sublimes3:8110
      USE_SELF_IMAGE_LINKS: "true"
      AWS_REGION: us-east-1
      HYDRA_URL: http://sublime_hydra:8200
      DEPLOYMENT_INFRA_TYPE: "DOCKER_COMPOSE"
      LOG_LEVEL: "WARN"
    env_file: sublime.env
    ports:
      - "0.0.0.0:8000:8000"
    networks:
      - net
    depends_on:
      - sublime_postgres
      - sublime_strelka_backend
      - sublime_strelka_frontend
  sublime_bora_lite:
    image: sublimesec/bora-lite:1.31
    restart: unless-stopped
    container_name: sublime_bora_lite
    environment:
      POSTGRES_HOST: sublime_postgres
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
      REDIS_HOST: sublime_redis
      STRELKA_URL: sublime_strelka_frontend
      SCREENSHOT_SERVICE_ENDPOINT: http://sublime_screenshot_service:8100/capture
      SCREENSHOT_SERVICE_BUCKET: email-screenshots
      S3_ENDPOINT: http://sublimes3:8110
      AWS_REGION: us-east-1
      HYDRA_URL: http://sublime_hydra:8200
      DEPLOYMENT_INFRA_TYPE: "DOCKER_COMPOSE"
      LOG_LEVEL: "WARN"
    env_file: sublime.env
    networks:
      - net
    depends_on:
      - sublime_mantis
      - sublime_redis
      - sublime_strelka_backend
      - sublime_strelka_frontend
  sublime_postgres:
    image: postgres:13.2
    restart: unless-stopped
    container_name: sublime_postgres
    environment:
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
      PGDATA: /data/postgres
    env_file: sublime.env
    volumes:
       - postgres:/data/postgres
    networks:
      - net
  sublime_dashboard:
    image: sublimesec/dashboard:1.31
    restart: unless-stopped
    container_name: sublime_dashboard
    ports:
      - "0.0.0.0:3000:80"
    networks:
      - net
    env_file: sublime.env
    depends_on:
      - sublime_mantis
  sublime_redis:
    image: redis:6.2
    restart: unless-stopped
    container_name: sublime_redis
    command: redis-server --loglevel warning
    networks:
      - net
  sublime_strelka_frontend:
    image: sublimesec/strelka-frontend:0.3
    restart: unless-stopped
    command: strelka-frontend
    networks:
      - net
    volumes:
      - ./configs/frontend/:/etc/strelka/:ro
      - logs:/var/log/strelka/
    depends_on:
      - sublime_strelka_coordinator
    deploy:
      replicas: 1
  sublime_strelka_backend:
    image: sublimesec/strelka-backend:0.3
    restart: unless-stopped
    command: strelka-backend
    shm_size: 512mb
    networks:
      - net
    volumes:
      - ./configs/backend/:/etc/strelka/:ro
    depends_on:
      - sublime_strelka_coordinator
    deploy:
      replicas: 2
  sublime_strelka_manager:
    image: sublimesec/strelka-manager:0.3
    restart: unless-stopped
    command: strelka-manager
    container_name: sublime_strelka_manager_1
    networks:
      - net
    volumes:
      - ./configs/manager/:/etc/strelka/:ro
    depends_on:
      - sublime_strelka_coordinator
  sublime_strelka_coordinator:
    image: redis:alpine
    restart: unless-stopped
    command: redis-server --save "" --appendonly no
    container_name: sublime_strelka_coordinator_1
    networks:
      - net
  sublime_screenshot_service:
    image: sublimesec/render-email-html:0.1
    restart: unless-stopped
    environment:
      - S3_ENDPOINT=http://sublimes3:8110
      - SCREENSHOT_BUCKET=email-screenshots
      - AWS_REGION=us-east-1
      - DISABLE_DD=true
    container_name: sublime_screenshot_service
    env_file: sublime.env
    networks:
      - net
    depends_on:
      - sublime_create_buckets
  # Keep this name as sublimes3 because underscores don't play nice with certain endpoint validation
  sublimes3:
    container_name: sublimes3
    image: minio/minio
    restart: unless-stopped
    networks:
      - net
    volumes:
      - s3_data:/data
    env_file: sublime.env
    entrypoint: >
      /bin/sh -c "
      export MINIO_ROOT_USER=$$AWS_ACCESS_KEY_ID;
      export MINIO_ROOT_PASSWORD=$$AWS_SECRET_ACCESS_KEY;
      minio server --address 0.0.0.0:8110 --console-address 0.0.0.0:8111  /data;
      "
  sublime_create_buckets:
    image: minio/mc
    depends_on:
      - sublimes3
    networks:
      - net
    env_file: sublime.env
    entrypoint: >
      /bin/sh -c "
      sleep 15;
      /usr/bin/mc config host add myminio http://sublimes3:8110 $$AWS_ACCESS_KEY_ID $$AWS_SECRET_ACCESS_KEY;
      /usr/bin/mc mb myminio/email-screenshots;
      /usr/bin/mc mb myminio/inline-messages;
      /usr/bin/mc ls myminio;
      exit 0;
      "
  sublime_hydra:
    image: sublimesec/hydra-cpu:1.0
    restart: unless-stopped
    networks:
      - net
    container_name: sublime_hydra
  sublime_nginx_letsencrypt:
    image: sublimesec/nginx-letsencrypt:latest
    restart: unless-stopped
    profiles:
      - letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - sublime_mantis
      - sublime_dashboard
    container_name: sublime_nginx_letsencrypt
    env_file:
      - "${LETSENCRYPT_ENV:-certbot.env.example}"
    volumes:
      - /etc/letsencrypt/:/etc/letsencrypt/
    networks:
      - net
  sublime_nginx_custom_ssl:
    image: sublime_nginx_custom_ssl:latest
    restart: unless-stopped
    profiles:
      - nginx-custom-ssl
    ports:
      - "443:443"
    depends_on:
      - sublime_mantis
      - sublime_dashboard
    container_name: sublime_nginx_custom_ssl
    volumes:
      - /etc/nginx-custom-ssl/:/etc/nginx-custom-ssl/
    networks:
      - net

networks:
  net:
    driver: bridge

volumes:
  postgres:
  logs:
  s3_data:
