version: '3'

services:
  mantis:
    image: sublimesec/mantis:0.18
    container_name: mantis
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
      RABBITMQ_HOST: rabbitmq
      REDIS_HOST: redis
      STRELKA_URL: strelka-frontend
    env_file: sublime.env
    ports:
      - "0.0.0.0:8000:8000"
    networks:
      - net
    depends_on:
      - postgres
      - strelka-backend
      - strelka-frontend
  bora_lite:
    image: sublimesec/bora-lite:0.18
    container_name: bora-lite
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
      RABBITMQ_HOST: rabbitmq
      REDIS_HOST: redis
      STRELKA_URL: strelka-frontend
    env_file: sublime.env
    networks:
      - net
    depends_on:
      - mantis
      - rabbitmq
      - redis
      - strelka-backend
      - strelka-frontend
  postgres:
    image: postgres:13.2
    container_name: postgres
    environment:
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
      PGDATA: /data/postgres
    env_file: sublime.env
    volumes:
       - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - net
    restart: unless-stopped
  dashboard:
    image: sublimesec/dashboard:0.18
    container_name: dashboard
    ports:
      - "0.0.0.0:3000:80"
    networks:
      - net
    env_file: sublime.env
    depends_on:
      - mantis
  rabbitmq:
    image: rabbitmq:3.8.15
    container_name: rabbitmq
    tty: true
    ports:
      - "15671:15671"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: -rabbit log_levels [{connection,error}]
    env_file: sublime.env
    networks:
      - net
    restart: unless-stopped
  redis:
    image: redis:6.2
    container_name: redis
    command: redis-server --loglevel warning
    ports:
      - "6379:6379"
    networks:
      - net
  strelka-frontend:
    image: sublimesec/strelka-frontend:0.1.0
    command: strelka-frontend
    ports:
      - "57314:57314"
    networks:
      - net
    volumes:
      - ./configs/frontend/:/etc/strelka/:ro
      - logs:/var/log/strelka/
    restart: unless-stopped
    container_name: strelka_frontend_1
    depends_on:
      - strelka-coordinator
      - strelka-gatekeeper
  strelka-backend:
    image: sublimesec/strelka-backend:0.1.0
    command: strelka-backend
    shm_size: 512mb
    networks:
      - net
    volumes:
      - ./configs/backend/:/etc/strelka/:ro
    restart: unless-stopped
    container_name: strelka_backend_1
    depends_on:
      - strelka-coordinator
  strelka-manager:
    image: sublimesec/strelka-manager:0.1.0
    command: strelka-manager
    restart: unless-stopped
    container_name: strelka_manager_1
    networks:
      - net
    volumes:
      - ./configs/manager/:/etc/strelka/:ro
    depends_on:
      - strelka-coordinator
  strelka-coordinator:
    image: redis:alpine
    command: redis-server --save "" --appendonly no
    container_name: strelka_coordinator_1
    networks:
      - net
  strelka-gatekeeper:
    image: redis:alpine
    command: redis-server --save "" --appendonly no --maxmemory-policy allkeys-lru
    container_name: strelka_gatekeeper_1
    networks:
      - net

networks:
  net:
    driver: bridge

volumes:
  postgres:
  logs:
