version: '3'

services:
  mantis:
    image: sublimesec/mantis:latest-staging
    container_name: mantis
    environment:
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
    env_file: sublime.env
    ports:
      - "0.0.0.0:8000:8000"
    networks:
      - net
  bora_lite:
    image: sublimesec/bora-lite:latest-staging
    container_name: bora-lite
    environment:
      POSTGRES_USER: sublime
      POSTGRES_DB: mantis
    env_file: sublime.env
    networks:
      - net
    depends_on:
      - mantis
      - rabbitmq
      - redis
  dashboard:
    image: sublimesec/dashboard:latest-staging
    container_name: dashboard
    ports:
      - "0.0.0.0:3000:80"
    networks:
      - net
    env_file: sublime.env
    depends_on:
      - mantis
  rabbitmq:
    image: rabbitmq:3.8
    container_name: rabbitmq
    tty: true
    ports:
      - "15671:15671"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: -rabbit log_levels [{connection,error}]
    env_file: sublime.env
    networks:
      - net
    restart: unless-stopped
  redis:
    image: redis:6.2
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - net

networks:
  net:
    driver: bridge
