logging_cfg: '/etc/strelka/logging.yaml'
limits:
  max_files: 5000
  time_to_live: 900
  max_depth: 15
  distribution: 600
  scanner: 150
coordinator:
  addr: 'sublime_strelka_coordinator_1:6379'
  db: 0
tasting:
  mime_db: null
  yara_rules: '/strelka/config'
  # Replace the line above with the line below to use custom yara defined in ./configs/backend/yara (in this repo)
  #  yara_rules: '/etc/strelka/yara'
scanners: '/strelka/config/scanners.yaml'
# Replace the line above with the line below to use custom yara scanners defined in ./configs/backend/scanners.yaml (in this repo)
#scanners: '/etc/strelka/scanners.yaml'
